<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">
    <!-- HTMX core -->
    <script src="{% static 'assets/add-on/htmx.min.js' %}"></script>
    <title>{{ title }}</title>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "includes/navbar.html" %}
        <!-- toast -->
        {% include "includes/modals/main_modal.html" %}
        <!-- End toast -->

        <!-- Begin Page Content -->
        <div class="container-fluid small">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-5">
                <span class="h4 mb-0 text-gray-800">{{ header }}</span>
            </div>

            <!-- DataTables Transfer -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Transfer</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mt-2 mb-2">
                        <form class="" method="POST" autocomplete="off" enctype="multipart/form-data" hx-post="{% url 'check-transaction' %}" hx-trigger="change" hx-target="#msg-error">
                            {% csrf_token %}
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Part No.</label>
                                    <input class="form-control border-bottom" type="text" name="prod_code" value="{{ data_transfer.prod_code_id }}" readonly>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Part Description</label>
                                    <input class="form-control border-bottom" type="text" value="{{ data_transfer.prod_code.prod_desc }}" disabled>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <div class="row">
                                        <div class="col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Min. Stock</label>
                                            <input class="form-control border-bottom" type="text" value="{{ data_transfer.prod_code.stock_min }}" disabled>
                                        </div>
                                        <div class="col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Max. Stock</label>
                                            <input class="form-control border-bottom" type="text" value="{{ data_transfer.prod_code.stock_max }}" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <div class="row">
                                        <div class="col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Pack Size</label>
                                            <input class="form-control border-bottom" type="text" value="{{ data_transfer.prod_code.pack_size }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <div class="row">
                                        <div class="col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">From Location</label>
                                            <div class="row">
                                                <div class="col">
                                                    <input class="form-control border-bottom" type="text" name="no_loc" value="{{ data_transfer.no_loc_id }}" readonly>
                                                </div>
                                                <div class="col">
                                                    <input class="form-control border-bottom" type="text" value="{% if data_transfer.no_loc.assign == 'P' %}PRIMARY{% else %}RESERVE{% endif %}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Qty.</label>
                                            <div class="row">
                                                <div class="col">
                                                    <input class="form-control border-bottom" type="text" name="qty" value="{{ data_transfer.qty }}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <div class="row">
                                        <div class="col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">To Location<span class="text-danger"> *</span></label>
                                            <div class="row">
                                                <div class="col">
                                                    <input class="form-control border-bottom" type="text" id="no_loc2" name="no_loc2" placeholder="Enter location"  autocomplete="off" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Qty. Transfer<span class="text-danger"> *</span></label>
                                            <div class="row">
                                                <div class="col">
                                                    <input class="form-control border-bottom" type="number" min="1" id="qty2" name="qty2" placeholder=0 onkeypress="return isNumberKey(event)" autocomplete="off" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="msg-error"></div>
                            <div class="d-sm-flex align-items-right justify-content-end">
                                <div class="d-none d-sm-inline-block">
                                    <input type="hidden" name="uid" value="{{ user.username }}">
                                    <input type="hidden" name="id" value="{{ data_transfer.id }}"/>
                                    <button id="btnSave" class="btn btn-primary btn-sm px-3 shadow-sm" type="submit">Save</button>
                                    <a class="btn btn-secondary btn-sm px-3 shadow-sm" onclick="window.history.back()">Back</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% if selection %}
            <!-- DataTables Relevant Locations -->
            <div class="card shadow mb-4" >
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Relevant Locations</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mt-2 mb-2">
                        <table class="text-dark table table-bordered table-md" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Location</th>
                                    <th>Location Type</th>
                                    <th>Storage</th>
                                    <th>Tooling Area Part</th>
                                    <th>Status</th>
                                    <th>Part No.</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody>{% for data in selection %}
                                <tr>
                                    <td class="align-middle">{{ forloop.counter }}</td>
                                    <td class="align-middle">{{ data.no_loc_id }}</td>
                                    <td class="align-middle">
                                        {% for key, value in options_assign.items %}
                                        {% if key == data.no_loc.assign %}{{ value }}{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle">
                                        {% for key, value in options_storage.items %}
                                        {% if key == data.no_loc.storage %}{{ value }}{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle">
                                        {% for key, value in options_area.items %}
                                        {% if key == data.no_loc.area %}{{ value }}{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle">
                                        {% for key, value in options_stats_loc.items %}
                                        {% if key == data.no_loc.status %}{{ value }}{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ data.prod_code_id }}</td>
                                    <td class="align-middle">{{ data.qty }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
        <!-- /.container-fluid -->

    </div>
<!-- End of Main Content -->
    <!-- Footer -->
    {% include "includes/footer.html" %}
    <!-- End of Footer -->
</body>
</html>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assets/sb-admin-2/js/sb-admin-2.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'assets/sb-admin-2/js/demo/datatables-demo.js' %}"></script>

<!-- Script launch modal -->
{% if messages %}
<script type="application/javascript">
    $(document).ready(function(){
        $('#modalPush').modal('show');
    });
</script>
{% endif %}

