<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="{% static 'assets/sb-admin-2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "includes/navbar.html" %}
        <!-- modal -->
        {% include "includes/modals/main_modal.html" %}
        <!-- End modal -->

        <!-- Begin Page Content -->
        <div class="container-fluid small">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-5">
                <span class="h4 mb-0 text-gray-800">{{ header }}</span>
                <a href="{% url 'AddReceiving' %}" class="btn btn-sm btn-labeled btn-primary shadow-sm">
                    <span class="btn-label"><i class="fa-solid fa-pen-to-square fa-fw text-white-50"></i></span>New Receipts</a>
            </div>

            <!-- Search -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Search</h6>
                </div>
                <div class="card-body">
                    <form id="myForm" class="" action="{% url 'ResultReceiving' %}" method="GET">
                        {% csrf_token %}
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <div class="row">
                                    <div class="col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">TTB No.</label>
                                        <input class="form-control border-bottom" type="text" id="no_ttb" name="no_ttb" placeholder="Enter No. TTB"  required>
                                    </div>
                                    <div class="col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Part No.</label>
                                        <input class="form-control border-bottom" type="text" id="prod_code" name="prod_code" placeholder="Enter Part No."  required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <div class="row">
                                    <div class="form-group col-sm-6 flex-column d-flex inline-fields">
                                        <label class="form-control-label px-3">&nbsp;</label>
                                        <div class="d-none d-sm-inline-block">
                                            <button id="btnSave" class="btn btn-primary btn-sm shadow-sm" type="submit"><i class="fas fa-search fa-sm mx-2"></i></button>
                                            <a class="btn btn-secondary btn-sm shadow-sm px-3" href="{% url 'ViewReceiving' %}">Reset</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <!-- DataTables Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Receipt List {% if not request.GET.prod_code and not request.GET.no_ttb %} — {% now "F" %}{% endif %}</h6>
                </div>
                <div class="card-body">
                    <div class="mt-2 mb-2">
                        <table class="text-dark table table-bordered table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>No. TTB</th>
                                    <th>Vendor</th>
                                    <th>Date</th>
                                    <th>No. PR</th>
                                    <th>Part No.</th>
                                    <th>Part Desc.</th>
                                    <th>Qty. TTB</th>
                                    <th class="text-center" style="width:5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for data in receipt %}
                                <tr>
                                    <td class="align-middle">{{ forloop.counter }}</td>
                                    <td class="align-middle">{{ data.no_ttb }}</td>
                                    <td class="align-middle">{{ data.vendor }}</td>
                                    <td class="align-middle">{{ data.date_created|date:"d/m/Y" }} {{ data.date_created|date:"H:i" }}</td>
                                    <td class="align-middle">{{ data.no_pr }}</td>
                                    <td class="align-middle">{{ data.prod_code_id }}</td>
                                    <td class="align-middle">{{ data.prod_code.prod_desc }}</td>
                                    <td class="align-middle">{{ data.ttb_qty }}</td>
                                    <td class="text-center"><a class="btn btn-primary btn-sm px-3 shadow-sm" href="{% url 'UpdateReceiving' data.id %}">Edit</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {% include "includes/footer.html" %}
    <!-- End of Footer -->
</body>
</html>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assets/sb-admin-2/js/sb-admin-2.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'assets/sb-admin-2/js/demo/datatables-demo.js' %}"></script>

<!-- Script launch modal -->
{% if messages %}
<script type="application/javascript">
    $(document).ready(function(){
        $('#modalPush').modal('show');
    });
</script>
{% endif %}

