<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/add-on/jquery.min.js' %}"></script>
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/cropped-fln-site-icon-32x32.webp' %}">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">
    <!-- HTMX core -->
    <script src="{% static 'assets/add-on/htmx.min.js' %}"></script>
     <!-- Custom JS -->
    <script src="{% static 'assets/custom/custom-script.js' %}"></script>
    <title>{{ title }}</title>
<body>
<section class="vh-100 fullBg">
    <div class="h-100 layer">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">

                <!-- card -->
                <div class="container card shadow-lg text-muted">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h4 mb-5 mx-1 mx-md-4 mt-4">{{ header }}</p>
                                <form class="mx-1 mx-md-4" method="POST" autocomplete="off" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill form-floating mb-0">
                                            <input type="text" id="form3Example1c" class="form-control form-control-sm border-bottom" name="first_name" placeholder="" required/>
                                            <label class="form-label text-secondary" for="form3Example1c">{{ value|default:"Name" }}</label>
                                        </div>
                                    </div>
                                    <div id="username-error"></div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-circle-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill form-floating mb-0">
                                            <input type="text" id="form3Example3c" class="form-control form-control-sm border-bottom" name="username" placeholder="" required
                                                   hx-post="{% url 'check-username' %}" hx-trigger="keyup" hx-target="#username-error"/>
                                            <label class="form-label text-secondary" for="form3Example3c">{{ form.username.label_tag|cut:":" }}</label>
                                        </div>
                                    </div>
                                    <div id="pass-error"></div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill form-floating mb-0">
                                            <input type="password" id="form3Example4c" class="form-control form-control-sm border-bottom" name="password1" placeholder="" required
                                                   hx-post="{% url 'check-password' %}" hx-trigger="keyup" hx-target="#pass-error"/>
                                            <label class="form-label text-secondary" for="form3Example4c">{{ form.password1.label_tag|cut:":" }}</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill form-floating mb-0">
                                            <input type="password" id="form3Example4cd" class="form-control form-control-sm border-bottom" name="password2" placeholder="" required
                                                   hx-post="{% url 'check-password' %}" hx-trigger="keyup delay:1s" hx-target="#pass-error"/>
                                            <label class="form-label text-secondary" for="form3Example4cd">{{ form.password2.label_tag|cut:":" }}</label>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <div class="d-md-flex justify-content-center align-items-center mb-4 py-2">
                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="checkbox" id="superuserCheckbox" name="is_superuser">
                                                <input type="hidden" name="is_staff">
                                                <label class="form-check-label" for="superuserCheckbox">Superuser</label>
                                            </div>
                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="checkbox" id="staffCheckbox" name="is_staff">
                                                <label class="form-check-label" for="staffCheckbox">Staff</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" required/>
                                        <label class="form-check-label" for="form2Example3c">
                                            I agree all statements in <a href="#!">Terms of service</a>
                                        </label>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button id="btnSave" type="submit" class="btn btn-sm btn-primary btn-lg px-3 shadow-sm" >Register</button>
                                        <a type="button" class="btn btn-sm btn-secondary btn-lg ms-2 px-3 shadow-sm" onclick="window.history.back()">Cancel</a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <figure class="figure">
                                <img src="{% static 'assets/images/fln_logo.png' %}" class="img-fluid w-75 mx-auto d-block" alt="Sample image">
                                    <figcaption class="figure-caption text-center"><h5>Tooling Warehouse Management System</h5></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>