<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">
    <!-- HTMX core -->
    <script src="{% static 'assets/add-on/htmx.min.js' %}"></script>
    <title>{{ title }}</title>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "includes/navbar.html" %}
        <!-- modal -->
        {% include "includes/modals/main_modal.html" %}
        <!-- End modal -->

        <!-- Begin Page Content -->
        <div class="container-fluid small">
            <div class="d-sm-flex align-items-center justify-content-between mb-5">
                <span class="h4 mb-0 text-gray-800">{{ header }}</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-labeled dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="btn-label">
                        <i class="fa-solid fa-pen-to-square fa-fw text-white-50"></i></span>New Location</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item disabled" href="{% url 'AddLocation' %}">Single Location</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'AddLocationMass' %}">Multiple Locations</a>
                    </div>
                </div>
            </div>

            <!-- DataTables Summary -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Primary {{ primary }}</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ primary_percentage|floatformat:0 }} %</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ primary_percentage|floatformat:0 }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Reserve {{ reserve }}</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ reserve_percentage|floatformat:0 }} %</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ reserve_percentage|floatformat:0 }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Add New Location -->
            <div class="card shadow mb-4 text-dark">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add New Location</h6>
                </div>
                <div class="card-body">
                    <form class="" method="POST" autocomplete="off" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <div class="row">
                                    <div class="col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Location<span class="text-danger"> *</span></label>
                                        <input class="form-control border-bottom" type="text" id="no_loc" name="no_loc" placeholder="Enter Location" autocomplete="off" required
                                        hx-post="{% url 'check-location' %}" hx-trigger="keyup" hx-target="#msg-error">
                                    </div>
                                    <div class="col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Location Type<span class="text-danger"> *</span></label>
                                        <select class="form-control border-bottom" name="assign">
                                            {% for key, value in options_assign.items %}
                                            <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <div class="row">
                                    <div class="col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Tooling Parts Area<span class="text-danger"> *</span></label>
                                        <select class="form-control border-bottom" name="area">
                                            {% for key, value in options_area.items %}
                                            <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Storage<span class="text-danger"> *</span></label>
                                        <select class="form-control border-bottom" name="storage">
                                            {% for key, value in options_storage.items %}
                                            <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div><div id="msg-error"></div>
                        <div class="d-sm-flex align-items-right justify-content-end">
                            <div class="d-none d-sm-inline-block">
                                <button id="btnSave" class="btn btn-primary btn-sm shadow-sm px-3" type="submit">Save</button>
                                <a class="btn btn-secondary btn-sm shadow-sm px-3 " href="{% url 'ViewLocation' %}">Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Last added Location -->
            <div class="card shadow mb-4 text-dark">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Last Added Location</h6>
                </div>
                <div class="card-body">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <div class="row">
                                <div class="col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Location</label>
                                    <span class="form-control border-bottom">{{ last_add_location.no_loc }}</span>
                                </div>
                                <div class="col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Location Type</label>
                                    <span class="form-control border-bottom">{% if last_add_location.assign == "P" %}PRIMARY{% else %}RESERVE{% endif %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <div class="row">
                                <div class="col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Tooling Parts Area</label>
                                    <span class="form-control border-bottom">{% if last_add_location.area == "BL" %}BLOW{% elif last_add_location.area == "IN" %}INJECTION{% elif last_add_location.area == "CH" %}CHEMICAL (MAINTENANCE){% elif last_add_location.area == "CE" %}CONSUMABLE ELECTRICAL{% elif last_add_location.area == "CM" %}CONSUMABLE MECHANICAL{% else %}VACUUM{% endif %}</span>
                                </div>
                                <div class="col-sm-6 flex-column d-flex">
                                    <label class="form-control-label px-3">Storage</label>
                                    <span class="form-control border-bottom">{% if last_add_location.storage == "FR" %}FLOOR{% else %}RACK{% endif %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="text-xs form-control-label px-3">Created Date: {{ last_add_location.date_created|date:"d/m/Y" }} {{ last_add_location.date_created|date:"H:i" }}</label>
                        </div>
                    </div>
                </div>
            </div>

        <!-- /.container-fluid -->
        </div>
    </div>
<!-- End of Main Content -->
    <!-- Footer -->
    {% include "includes/footer.html" %}
    <!-- End of Footer -->
</body>
</html>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assets/sb-admin-2/js/sb-admin-2.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'assets/sb-admin-2/js/demo/datatables-demo.js' %}"></script>

<!-- Script launch modal -->
{% if messages %}
<script type="application/javascript">
    $(document).ready(function(){
        $('#modalPush').modal('show');
    });
</script>
{% endif %}