
<script>
  $(document).ready(function() {
        $('#prod-list-table').DataTable({
            dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'i><'text-center'p>>",
            "processing": true,
            "serverSide": true,
            "lengthChange": false,
            // "ordering": false,
            "ajax": {
                "url": "{% url 'ListProduct' %}",
                "dataSrc": "data"  // Specify the data source as 'data'
            },
            "columns": [
                { "data": "prod", "className": "align-middle" },
                { "data": "desc", "className": "align-middle" },
                { "data": "unt", "className": "align-middle" },
                { "data": "pack", "className": "align-middle" },
                // { "data": "qty", "className": "align-middle" },
                { "data": "total", "className": "align-middle" },
                { "data": "stats", "className": "align-middle" ,
                    "render": function(data, type, row) {
                        if (row.stats === true) {
                          var newstats = 'ACTIVE';
                        } else {
                          var newstats = 'BLOCKED';
                        }
                        return newstats;
                    }
                },
                { "data": null, "className": "align-middle text-center",
                    "render": function(data, type, row) {
                        return '<div class="row d-flex justify-content-center">'+
                        '<div class="col-xs-6 mr-1"><a class="btn btn-primary btn-sm px-3 shadow-sm" href="product/edit/' + row.prod +'">Edit</a></div>'+
                        '<div class="col-xs-6 mr-1"><a class="btn btn-secondary btn-sm px-3 shadow-sm" href="product/detail/' + row.prod +'">Detail</a></div>'+
                        '</div>';
                    }
                },
            ],
        });
    });
</script>