<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">
    <!-- HTMX core -->
    <script src="{% static 'assets/add-on/htmx.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <title>{{ title }}</title>
  <style>


  </style>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "includes/navbar.html" %}

        <!-- Begin Page Content -->
        <div class="container-fluid small">
            <div class="d-sm-flex align-items-center justify-content-between mb-5">
                <span class="h4 mb-0 text-gray-800">{{ header }}</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-labeled dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="btn-label">
                        <i class="fa-solid fa-pen-to-square fa-fw text-white-50"></i></span>New Part</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item disabled" href="{% url 'AddProduct' %}">Single Part</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'AddProductMass' %}">Multiple Parts</a>
                    </div>
                </div>
            </div>

            <!-- DataTables New part -->
            <div class="text-dark card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Add New Part</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mt-2 mb-2">
                        <form class="" method="POST" autocomplete="off" enctype="multipart/form-data" hx-post="{% url 'check-product' %}" hx-trigger="change" hx-target="#msg-error">
                            {% csrf_token %}
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex">
                                    <div class="row">
                                        <div class="form-group col-sm-12 flex-column d-flex">
                                            <label class="form-control-label px-3">Part No.<span class="text-danger"> *</span></label>
                                            <input class="form-control border-bottom" type="text" id="prod_code" name="prod_code" placeholder="Enter Part No."  autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-12 flex-column d-flex">
                                             <label class="form-control-label px-3">Part Description<span class="text-danger"> *</span></label>
                                            <textarea class="form-control border-bottom textarea" maxlength="60" id="prod_desc" name="prod_desc" placeholder="Enter Part Description" required></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Unit of Measure<span class="text-danger"> *</span></label>
                                            <select class="form-control border-bottom" name="unit">
                                                {% for key, value in options_unit.items %}
                                                <option value="{{ key }}">{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Conversion<span class="text-danger"> *</span></label>
                                            <input class="form-control border-bottom" type="number" min="1" id="pack_size" name="pack_size" placeholder=0 onkeypress="return isNumberKey(event)" autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Min. Stock<span class="text-danger"> *</span></label>
                                            <input class="form-control border-bottom" type="number" min="1" id="stock_min" name="stock_min" placeholder=0 onkeypress="return isNumberKey(event)" autocomplete="off" required>
                                       </div>
                                        <div class="form-group col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Max. Stock<span class="text-danger"> *</span></label>
                                            <input class="form-control border-bottom" type="number" min="1" id="stock_max" name="stock_max" placeholder=0 onkeypress="return isNumberKey(event)" autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-6 flex-column d-flex">
                                            <label class="form-control-label px-3">Lead Time (Days)<span class="text-danger"> *</span></label>
                                            <input class="form-control border-bottom" type="number" min="1" id="l_time_days" name="l_time_days" placeholder=0 onkeypress="return isNumberKey(event)" autocomplete="off" required>
                                        </div>
                                        <div class="form-group col-sm-12 flex-column d-flex">
                                            <label class="form-control-label px-3">Supplier Name<span class="text-danger"> *</span></label>
                                            <textarea class="form-control border-bottom textarea" maxlength="60" id="supplier" name="supplier" placeholder="Enter Supplier Name" required></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group flex-column d-flex col-sm-6">
                                    <div class="row">
                                        <div class="col-md-12 form-group flex-column d-flex col-2 justify-content-center align-items-center mt-4">
                                            <label class="form-control-label px-3">Image Preview</label>
                                            <div id="image-preview-container">
                                                <img id="image-preview" src="{% static 'assets/images/placeholder.jpg' %}" alt="Image Preview">
                                            </div>
                                        </div>
                                    </div>
                                    <label class="form-control-label px-3">Image Part</label>
                                    <div class="row custom-file">
                                        <input type="file" class="custom-file-input" id="image-upload" name="img" accept="image/*" onchange="previewImage(event)" />
                                        <label class="form-control border-bottom custom-file-label" for="image-upload">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div id="msg-error"></div>
                            <div class="d-sm-flex align-items-right justify-content-end">
                                <div class="d-none d-sm-inline-block">
                                    <button id="btnSave" class="btn btn-primary btn-sm px-3 shadow-sm" type="submit">Save</button>
                                    <button class="btn btn-secondary btn-sm px-3 shadow-sm" onclick="window.history.back()">Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
<!-- End of Main Content -->
    <!-- Footer -->
    {% include "includes/footer.html" %}
    <!-- End of Footer -->

</body>
</html>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assets/sb-admin-2/js/sb-admin-2.min.js' %}"></script>
 <!-- Custom JS -->
<script src="{% static 'assets/custom/custom-script.js' %}"></script>

