<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "includes/navbar.html" %}
        <!-- modal -->
        {% include "includes/modals/main_modal.html" %}
        <!-- End modal -->

        <!-- Begin Page Content -->
        <div class="container-fluid small">
            <div class="d-sm-flex align-items-center justify-content-between mb-5">
                <span class="h4 mb-0 text-gray-800">{{ header }}</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary btn-labeled dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="btn-label">
                        <i class="fa-solid fa-pen-to-square fa-fw text-white-50"></i></span>New Part</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'AddProduct' %}">Single Part</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'AddProductMass' %}">Multiple Parts</a>
                    </div>
                </div>
            </div>

            <!-- DataTables Part detail -->
            <div class="text-dark card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Part Detail</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mt-2 mb-2">
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <div class="row">
                                    <div class="form-group col-sm-12 flex-column d-flex">
                                        <label class="form-control-label px-3">Part No.</label>
                                        <input class="form-control border-bottom" type="text" value="{{ data.prod_code }}" disabled>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-12 flex-column d-flex">
                                        <label class="form-control-label px-3">Part Description</label>
                                        <textarea class="form-control border-bottom textarea" disabled>{{ data.prod_desc }}</textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Unit of Measure</label>
                                        <input class="form-control border-bottom" type="text" value="{{ data.unit }}" disabled>
                                    </div>
                                    <div class="form-group col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Conversion</label>
                                        <input class="form-control border-bottom" type="text" value="{{ data.pack_size }}" disabled>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Min. Stock</label>
                                        <input class="form-control border-bottom" value="{{ data.stock_min }}" disabled>
                                    </div>
                                    <div class="form-group col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Max. Stock</label>
                                        <input class="form-control border-bottom" value="{{ data.stock_max }}" disabled>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Lead Time (Days)</label>
                                        <input class="form-control border-bottom" value="{{ data.l_time_days }}" disabled>
                                    </div>
                                    <div class="form-group col-sm-6 flex-column d-flex">
                                        <label class="form-control-label px-3">Status</label>
                                        <span class="form-control ">{% if data.is_active == 1 %}ACTIVE{% else %}BLOCKED{% endif %}</span>
                                    </div>
                                    <div class="form-group col-sm-12 flex-column d-flex">
                                        <label class="form-control-label px-3">Supplier Name<span class="text-danger"> *</span></label>
                                        <input class="form-control border-bottom" value="{{ data.supplier }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group flex-column d-flex col-6 justify-content-center align-items-center h-100">
                                <label class="form-control-label px-3">Image Part</label>
                                <div class="row d-flex justify-content-center align-items-center h-100">
                                    <div class="col-md-8">
                                        <img class="img-fluid d-block mx-auto text-center border w-75" src="{% if data.img %}{{ data.img.url }}{% else %}{% static 'assets/images/placeholder.jpg' %}{% endif %}" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="d-sm-flex align-items-right justify-content-end">
                            <div class="d-none d-sm-inline-block">
                                <a class="btn btn-primary btn-sm px-3 shadow-sm" href="{% url 'EditProduct' data.prod_code %}">Edit</a>
                                <button class="btn btn-secondary btn-sm px-3 shadow-sm" onclick="window.history.back()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
<!-- End of Main Content -->
    <!-- Footer -->
    {% include "includes/footer.html" %}
    <!-- End of Footer -->
</body>
</html>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assets/sb-admin-2/js/sb-admin-2.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'assets/sb-admin-2/js/demo/datatables-demo.js' %}"></script>

<!-- Script launch modal -->
{% if messages %}
<script type="application/javascript">
    $(document).ready(function(){
        $('#modalPush').modal('show');
    });
</script>
{% endif %}

