{% load static %}
{% if newline %}
<!-- Modal-->
<div class="modal fade" id="data-{{ data.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="newlineLabel"><i class="fa fa-exclamation-circle text-primary"></i>
                                    &nbsp;Remove storage assignment location</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure to remove location <strong>{{ data.no_loc_id }}</strong>, from part no. {{ data.prod_code_id }}?
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'DeleteNewline' data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" value="NEW" name="remark" />
                    <input class="btn btn-sm btn-danger shadow-sm" type="submit" value="Delete">
                    <button type="button" class="btn btn-sm btn-secondary shadow-sm" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

{% elif free_list %}
<!-- Modal-->
<div class="modal fade" id="id-{{ free.no_loc|cut:'.' }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="free_listLabel"><i class="fa fa-question-circle text-primary"></i>
                                    &nbsp;Assignment location</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure to assign location <strong>{{ free.no_loc }}</strong>, for part no. {{ data.prod_code_id }}?
            </div>
            <div class="modal-footer">
                <form class="" method="POST" autocomplete="off" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <input type="hidden" value="{{ free.no_loc }}" name="no_loc" />
                    <input class="btn btn-sm btn-primary px-3 shadow-sm" type="submit" value="Save">
                    <button type="button" class="btn btn-sm btn-secondary shadow-sm" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

{% elif adjustment %}
 <!-- Modal -->
<div class="modal fade" id="id-{{ data.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="exampleModalLabel"><i class="fa fa-info-circle text-primary"></i>&nbsp;Information</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="mt-4 mb-4 w-100">
                    <!-- text area -->
                    <div class="bg-light p-2">
                        <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="{% static 'assets/sb-admin-2/img/undraw_profile.svg' %}" width="40">
                            <textarea class="form-control ml-3 border-bottom textarea" rows="8" readonly>Hi there, I left a message,&#10;&#10;"{{ data.comment }}"&#10;&#10;Thanks.&#10;— {{ data.uid }}</textarea>
                        </div>
                    </div>
                    <!-- end text area -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary shadow-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 <!-- Modal -->
{% endif %}


