{% load static %}
{% if carts %}
<!-- Modal-->
<div class="modal fade" id="id-{{ data.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" aria-live="assertive" aria-atomic="true" data-delay='{"show":"5000", "hide":"3000"}'>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fs-5" id="exampleModalLabel"><i class="fa fa-question-circle text-primary"></i>&nbsp;Remove from cart</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure to delete part <strong>{{ data.prod_code_id }}</strong> from your cart?
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'DeleteFromCart' data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="btn btn-sm btn-danger shadow-sm" onclick="closeModal()" type="submit" value="Delete">
                    <button type="button" class="btn btn-sm btn-secondary shadow-sm" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
{% endif %}

<!-- Modal -->
<div class="modal fade" id="img-{{ data.prod_code_id }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{ data.prod_code_id }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <img src="{% if data.prod_code.img %}{{ data.prod_code.img.url }}{% else %}{% static 'assets/images/placeholder.jpg' %}{% endif %}" alt="Enlarged Image" class="img-fluid">
            </div>
            <!-- Modal Footer (optional) -->
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary shadow-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


