<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">
    <!-- HTMX core -->
    <script src="{% static 'assets/add-on/htmx.min.js' %}"></script>
    <title>{{ title }}</title>

    <style>
    table {
        width: 50%;
        /* counter-reset: row-num -0; */
        counter-reset: row-num -1;
    }
    table tr {
        counter-increment: row-num;
    }
    table tr #numb:first-child::before {
        content: counter(row-num);
    }
    </style>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% include "includes/navbar.html" %}
        <!-- modal -->
        {% include "includes/modals/main_modal.html" %}
        <!-- End modal -->

        <!-- Begin Page Content -->
        <div class="container-fluid small">
            <div class="d-sm-flex align-items-center justify-content-between mb-5">
                <span class="h4 mb-0 text-gray-800">{{ header }}</span>
            </div>


            <!-- DataTales Add row -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add Row</h6>
                </div>
                <div class="card-body">
                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="row justify-content-center my-2">
                            <div class="input-group mr-2">
                                <input name="no_ttb" type="number" min=1 id="qty-row" class="form-control border-bottom" placeholder=0
                                    aria-label="Search" aria-describedby="basic-addon2" required  onkeypress="return isNumberKey(event)" autocomplete="off">
                            </div>
                            <div class="input-group"><button id="my-btn3" class="btn btn-primary btn-sm"><i class="fas fa-plus fa-sm mx-2"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DataTables Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Add New Assign Location</h6>
                    </div>
                </div>
                <div class="card-body">
                    <form class="" method="POST" autocomplete="off" enctype="multipart/form-data" hx-post="{% url 'check-any-newline' %}" hx-trigger="keyup" hx-target="#value-error">
                        {% csrf_token %}
                        <div class="mt-2 mb-2" style="height:460px">
                            <table class="text-dark table table-bordered table-hover table-sm myTable" id="dataTable4" width="100%" cellspacing="0">
                            <thead>
                                <tr class="bg-light">
                                    <th>No.</th>
                                    <th>Location<span class="text-danger"> *</span></th>
                                    <th>Part No.<span class="text-danger"> *</span></th>
                                    <th>Qty<span class="text-danger"> *</span></th>
                                    <th class="text-center" style="width:10%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        </div>
                        <div class="mt-2 mb-2" id="value-error"></div>
                        <div class="d-sm-flex align-items-left justify-content-start">
                            <div class="d-none d-sm-inline-block">
                                <input type="hidden" name="uid" value="{{ user.username }}"/>
                                <button id="btnSave" class="btn btn-primary btn-sm btn-submit px-3" type="submit">Submit</button>
                                <a class="btn btn-secondary btn-sm px-3" onclick="window.history.back()">Back</a>
                            </div>
                            <div class="ml-auto">
                               <a class="btn btn-secondary btn-sm delete-row">Delete Row</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {% include "includes/footer.html" %}
    <!-- End of Footer -->
</body>
</html>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'assets/sb-admin-2/js/sb-admin-2.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'assets/sb-admin-2/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'assets/sb-admin-2/js/demo/datatables-demo.js' %}"></script>
 <!-- Custom JS -->
<script src="{% static 'assets/custom/custom-script.js' %}"></script>

<!-- Script launch modal -->
{% if messages %}
<script type="application/javascript">
    $(document).ready(function(){
        $('#modalPush5').modal('show');
    });
</script>
{% endif %}

