<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'assets/sb-admin-2/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- Custom css -->
    <link href="{% static 'assets/custom/custom-style.css' %}" rel="stylesheet" type="text/css">

    <title>{{ title }}</title>

<body id="page-top" class="full404">
    <div class="d-flex align-items-center justify-content-center vh-100 bg-white">
        <div class="text-center">
            <h1 class="display-1 fw-bold">403</h1>
            <h3 class="h2">Error Forbidden.
		</h3>
            <p class="lead">
                Access to the resource on the server is denied!.
              </p>
           <a href="{% url 'Dashboard' %}" class="link_404">Go to Dashboard</a>
        </div>
    </div>
</body>
</html>
